@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="/images/Looloo-World.png" />
    <br />
    Name: <input id="playerNameInput" value="Player"/>
    <button onclick="setName()">Play!</button>
</div>

<script>
    function setName()
    {
        var playerName = document.getElementById("playerNameInput").value;
        sessionStorage.setItem("playerName", playerName);
        window.location.href = "/Game";
    }
</script>