@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src="/images/Looloo-World.png" />
    <br />
    Name: <input id="playerNameInput" value="Player"/>
    <button onclick="setName()">Play!</button>
</div>
<div class="text-center">
    <br />Highest fight count: <label id="highestFightCountLabel"></label>
</div>

<script>
    function setName()
    {
        var playerName = document.getElementById("playerNameInput").value;
        sessionStorage.setItem("playerName", playerName);
        window.location.href = "/Game";
    }
    
    function setHighestFightCountLabel()
    {
        var highestFightCountLabel = document.getElementById("highestFightCountLabel");
        var highestFightCount = sessionStorage.getItem("highestFightCount");

        if (highestFightCount != null) {
            highestFightCountLabel.innerHTML = highestFightCount;
        }
        else { 
            highestFightCountLabel.innerHTML = 0;
        }
    }

    function loadName() { 
        var playerNameLabel = document.getElementById("playerNameInput");
        var savedPlayerName = sessionStorage.getItem("playerName");

        if (savedPlayerName != null)
        {
            playerNameLabel.value = savedPlayerName;
        }
    }

    function pageLoad() {
        setHighestFightCountLabel();
        loadName();
    }

    window.onload = pageLoad();
</script>